name: Releases manual

on:
  workflow_dispatch:
    inputs:
      buildType:
        description: 'What build?'
        required: true
        default: 'all'
        type: choice
        options: [gdb, gdb_dev, lldb, lldb_dev]

  push:
    tags:
      - 'gdb-*'
      - 'gdb_dev-*'
      - 'lldb-*'
      - 'lldb_dev-*'

env:
  buildType: >-
    ${{
      startsWith(github.ref_name, 'gdb_dev-') && 'gdb_dev' ||
      startsWith(github.ref_name, 'gdb-') && 'gdb' ||
      startsWith(github.ref_name, 'lldb_dev-') && 'lldb_dev' ||
      startsWith(github.ref_name, 'lldb-') && 'lldb' ||
      inputs.buildType
    }}

jobs:
  releases-gdb-linux:
    if: env.buildType == 'gdb' || env.buildType == 'gdb_dev'
    strategy:
      fail-fast: false
      matrix:
        os: [
          ubuntu-24.04-arm,  # aarch64-linux
        ]
        architecture: [
          packages.aarch64-linux.pkgsCross.armv7l-hf-multiplatform,
          packages.aarch64-linux.pkgsCross.aarch64-multiplatform,
          packages.aarch64-linux.pkgsCross.gnu32,
          packages.aarch64-linux.pkgsCross.gnu64,
          packages.aarch64-linux.pkgsCross.riscv64,
          packages.aarch64-linux.pkgsCross.s390x,
          packages.aarch64-linux.pkgsCross.powernv,
          packages.aarch64-linux.pkgsCross.loongarch64-linux,
        ]
    uses: ./.github/workflows/build-gdb.yml
    with:
      os: ${{ matrix.os }}
      attribute: ${{ matrix.architecture }}.wheel-${{ env.buildType }}-for-pwndbg

  releases-gdb-macos:
    if: env.buildType == 'gdb' || env.buildType == 'gdb_dev'
    strategy:
      fail-fast: false
      matrix:
        os: [
          macos-13,  # x86_64-darwin
          macos-15,  # aarch64-darwin
        ]
    uses: ./.github/workflows/build-gdb.yml
    with:
      os: ${{ matrix.os }}
      attribute: wheel-${{ env.buildType }}-for-pwndbg

  releases-lldb-linux:
    if: env.buildType == 'lldb' || env.buildType == 'lldb_dev'
    strategy:
      fail-fast: false
      matrix:
        os: [
          ubuntu-24.04-arm,  # aarch64-linux
        ]
        architecture: [
          packages.aarch64-linux.pkgsCross.armv7l-hf-multiplatform,
          packages.aarch64-linux.pkgsCross.aarch64-multiplatform,
          packages.aarch64-linux.pkgsCross.gnu32,
          packages.aarch64-linux.pkgsCross.gnu64,
          packages.aarch64-linux.pkgsCross.riscv64,
          packages.aarch64-linux.pkgsCross.s390x,
          packages.aarch64-linux.pkgsCross.powernv,
          packages.aarch64-linux.pkgsCross.loongarch64-linux,
        ]
    uses: ./.github/workflows/build-lldb.yml
    with:
      os: ${{ matrix.os }}
      attribute: ${{ matrix.architecture }}.wheel-${{ env.buildType }}-for-pwndbg

  releases-lldb-macos:
    if: env.buildType == 'lldb' || env.buildType == 'lldb_dev'
    strategy:
      fail-fast: false
      matrix:
        os: [
          macos-13,  # x86_64-darwin
          macos-15,  # aarch64-darwin
        ]
    uses: ./.github/workflows/build-lldb.yml
    with:
      os: ${{ matrix.os }}
      attribute: wheel-${{ env.buildType }}-for-pwndbg
