name: Releases manual

on:
  workflow_dispatch:
    inputs:
      buildType:
        description: 'What build?'
        required: true
        default: 'all'
        type: choice
        options:
        - gdb
        - lldb
        - all

jobs:
  releases-gdb-linux:
    if: inputs.buildType == 'gdb' || inputs.buildType == 'all'
    strategy:
      fail-fast: false
      matrix:
        os: [
          ubuntu-24.04-arm,  # aarch64-linux
        ]
        attribute: [
          packages.aarch64-linux.pkgsCross.armv7l-hf-multiplatform.wheel-gdb-for-pwndbg,
          packages.aarch64-linux.pkgsCross.aarch64-multiplatform.wheel-gdb-for-pwndbg,
          packages.aarch64-linux.pkgsCross.gnu32.wheel-gdb-for-pwndbg,
          packages.aarch64-linux.pkgsCross.gnu64.wheel-gdb-for-pwndbg,
          packages.aarch64-linux.pkgsCross.riscv64.wheel-gdb-for-pwndbg,
          packages.aarch64-linux.pkgsCross.s390x.wheel-gdb-for-pwndbg,
          packages.aarch64-linux.pkgsCross.powernv.wheel-gdb-for-pwndbg,
          packages.aarch64-linux.pkgsCross.loongarch64-linux.wheel-gdb-for-pwndbg,
        ]
    uses: ./.github/workflows/build-linux-gdb.yml
    with:
      os: ${{ matrix.os }}
      attribute: ${{ matrix.attribute }}

  releases-gdb-macos:
    if: inputs.buildType == 'gdb' || inputs.buildType == 'all'
    strategy:
      fail-fast: false
      matrix:
        os: [
          macos-15,  # aarch64-darwin
        ]
        attribute: [
          packages.aarch64-darwin.wheel-gdb-for-pwndbg,
          packages.x86_64-darwin.wheel-gdb-for-pwndbg,
        ]
    uses: ./.github/workflows/build-linux-gdb.yml
    with:
      os: ${{ matrix.os }}
      attribute: ${{ matrix.attribute }}

  releases-lldb-linux:
    if: inputs.buildType == 'lldb' || inputs.buildType == 'all'
    strategy:
      fail-fast: false
      matrix:
        os: [
          ubuntu-24.04-arm,  # aarch64-linux
        ]
        architecture: [
          packages.aarch64-linux.pkgsCross.armv7l-hf-multiplatform,
          packages.aarch64-linux.pkgsCross.aarch64-multiplatform,
          packages.aarch64-linux.pkgsCross.gnu32,
          packages.aarch64-linux.pkgsCross.gnu64,
          packages.aarch64-linux.pkgsCross.riscv64,
          packages.aarch64-linux.pkgsCross.s390x,
          packages.aarch64-linux.pkgsCross.powernv,
          packages.aarch64-linux.pkgsCross.loongarch64-linux,
        ]
        version: [
          wheel-lldb-for-pwndbg.310,
          wheel-lldb-for-pwndbg.311,
          wheel-lldb-for-pwndbg.312,
          wheel-lldb-for-pwndbg.313,
          wheel-lldb-for-pwndbg.314,
        ]
    uses: ./.github/workflows/build-linux-lldb.yml
    with:
      os: ${{ matrix.os }}
      attribute: ${{ matrix.architecture }}.${{ matrix.version }}

  releases-lldb-macos:
    if: inputs.buildType == 'lldb' || inputs.buildType == 'all'
    strategy:
      fail-fast: false
      matrix:
        os: [
          macos-15,  # aarch64-darwin
        ]
        architecture: [
          packages.aarch64-darwin,
          packages.x86_64-darwin,
        ]
        version: [
          wheel-lldb-for-pwndbg.310,
          wheel-lldb-for-pwndbg.311,
          wheel-lldb-for-pwndbg.312,
          wheel-lldb-for-pwndbg.313,
          wheel-lldb-for-pwndbg.314,
        ]
    uses: ./.github/workflows/build-linux-lldb.yml
    with:
      os: ${{ matrix.os }}
      attribute: ${{ matrix.architecture }}.${{ matrix.version }}
