name: Releases manual

on:
  workflow_dispatch:
    inputs:
      buildType:
        description: 'What build?'
        required: true
        default: 'all'
        type: choice
        options: [gdb, gdb_dev, lldb, lldb_dev]

  push:
    tags:
      - 'gdb-*'
      - 'gdb_dev-*'
      - 'lldb-*'
      - 'lldb_dev-*'

jobs:
  determine-build-type:
    runs-on: ubuntu-latest
    outputs:
      buildType: ${{ steps.set-build-type.outputs.buildType }}
    steps:
      - id: set-build-type
        run: |
          if [[ "${GITHUB_REF_NAME}" =~ ^gdb_dev- ]]; then
            echo "buildType=gdb_dev" >> $GITHUB_OUTPUT
          elif [[ "${GITHUB_REF_NAME}" =~ ^gdb- ]]; then
            echo "buildType=gdb" >> $GITHUB_OUTPUT
          elif [[ "${GITHUB_REF_NAME}" =~ ^lldb_dev- ]]; then
            echo "buildType=lldb_dev" >> $GITHUB_OUTPUT
          elif [[ "${GITHUB_REF_NAME}" =~ ^lldb- ]]; then
            echo "buildType=lldb" >> $GITHUB_OUTPUT
          else
            echo "buildType=${{ github.event.inputs.buildType }}" >> $GITHUB_OUTPUT
          fi
        shell: bash

  releases-gdb-linux:
    needs: determine-build-type
    if: ${{ startsWith(needs.determine-build-type.outputs.buildType, 'gdb') }}
    strategy:
      fail-fast: false
      matrix:
        os: [
          ubuntu-24.04-arm,  # aarch64-linux
        ]
        architecture: [
          packages.aarch64-linux.pkgsCross.armv7l-hf-multiplatform,
          packages.aarch64-linux.pkgsCross.aarch64-multiplatform,
          packages.aarch64-linux.pkgsCross.gnu32,
          packages.aarch64-linux.pkgsCross.gnu64,
          packages.aarch64-linux.pkgsCross.riscv64,
          packages.aarch64-linux.pkgsCross.s390x,
          packages.aarch64-linux.pkgsCross.powernv,
          packages.aarch64-linux.pkgsCross.loongarch64-linux,
        ]
    uses: ./.github/workflows/build-gdb.yml
    with:
      os: ${{ matrix.os }}
      attribute: ${{ matrix.architecture }}.wheel-${{ needs.determine-build-type.outputs.buildType }}-for-pwndbg

  releases-gdb-macos:
    needs: determine-build-type
    if: ${{ startsWith(needs.determine-build-type.outputs.buildType, 'gdb') }}
    strategy:
      fail-fast: false
      matrix:
        os: [
          macos-13,  # x86_64-darwin
          macos-15,  # aarch64-darwin
        ]
    uses: ./.github/workflows/build-gdb.yml
    with:
      os: ${{ matrix.os }}
      attribute: wheel-${{ needs.determine-build-type.outputs.buildType }}-for-pwndbg

  releases-lldb-linux:
    needs: determine-build-type
    if: ${{ startsWith(needs.determine-build-type.outputs.buildType, 'lldb') }}
    strategy:
      fail-fast: false
      matrix:
        os: [
          ubuntu-24.04-arm,  # aarch64-linux
        ]
        architecture: [
          packages.aarch64-linux.pkgsCross.armv7l-hf-multiplatform,
          packages.aarch64-linux.pkgsCross.aarch64-multiplatform,
          packages.aarch64-linux.pkgsCross.gnu32,
          packages.aarch64-linux.pkgsCross.gnu64,
          packages.aarch64-linux.pkgsCross.riscv64,
          packages.aarch64-linux.pkgsCross.s390x,
          packages.aarch64-linux.pkgsCross.powernv,
          packages.aarch64-linux.pkgsCross.loongarch64-linux,
        ]
    uses: ./.github/workflows/build-lldb.yml
    with:
      os: ${{ matrix.os }}
      attribute: ${{ matrix.architecture }}.wheel-${{ needs.determine-build-type.outputs.buildType }}-for-pwndbg

  releases-lldb-macos:
    needs: determine-build-type
    if: ${{ startsWith(needs.determine-build-type.outputs.buildType, 'lldb') }}
    strategy:
      fail-fast: false
      matrix:
        os: [
          macos-13,  # x86_64-darwin
          macos-15,  # aarch64-darwin
        ]
    uses: ./.github/workflows/build-lldb.yml
    with:
      os: ${{ matrix.os }}
      attribute: wheel-${{ needs.determine-build-type.outputs.buildType }}-for-pwndbg
